* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Roboto", sands-serif;
  color: #161616;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav nav" "sidebar container";
  -ms-grid-columns: 200px auto;
      grid-template-columns: 200px auto;
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
}

.ck-body-wrapper {
  display: none !important;
}

nav.navbar {
  background-color: white;
  grid-area: "nav";
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  z-index: 11;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(88, 89, 97, 0.4);
          box-shadow: 1px 1px 10px 0px rgba(88, 89, 97, 0.4);
}

nav.navbar a {
  color: #000;
  text-decoration: none;
}

nav.navbar .profile {
  padding-left: 10px;
}

nav.navbar .profile .avatar {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

nav.navbar .profile span {
  padding-left: 5px;
}

.dropdown:hover > ul {
  display: inherit;
  z-index: 1;
}

.dropdown ul {
  display: none;
  position: absolute;
  top: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdown ul li {
  width: 100%;
  display: inline-block;
  background-color: white;
  border-bottom: 1px solid #cdcdcd;
}

.dropdown ul li:nth-child(even) {
  background-color: #e6e6e6;
}

.dropdown a {
  display: block;
  padding: 0 10px;
  color: #006099;
  font-size: 0.8rem;
  line-height: 2rem;
  text-decoration: none;
}

.pagination nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: 50px;
  font-size: 1rem;
}

.pagination div:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pagination div:nth-child(1) span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 50%;
}

.pagination div:nth-child(2) {
  display: none;
}

.pagination svg {
  display: none;
}

.sidebar {
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  grid-area: 'sidebar';
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 111;
  -webkit-box-shadow: 1px 10px 10px 0px rgba(88, 89, 97, 0.37);
          box-shadow: 1px 10px 10px 0px rgba(88, 89, 97, 0.37);
}

.sidebar .main {
  margin-top: 15px;
}

.sidebar .main ul {
  list-style: none;
}

.sidebar .main ul li {
  padding: 5px 15px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.sidebar .main ul li:hover {
  background-color: #66c6ff;
}

.sidebar .main ul li a {
  text-decoration: none;
  color: #131313;
}

.sidebar .main ul li a span {
  padding-left: 10px;
}

.sidebar .main ul li a i {
  color: #006099;
}

.sidebar .main ul .active {
  background-color: #ccecff;
}

.container {
  background-color: #eee;
  grid-area: 'container';
  display: -ms-grid;
  display: grid;
      grid-template-areas: "breadcrumb breadcrumb" "content content";
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
  gap: 5px;
  padding: 25px 50px;
  z-index: 1;
}

.breadcrumb {
  grid-area: 'breadcrumb';
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 10px auto;
  padding: 5px 15px;
  font-size: .8rem;
}

.breadcrumb .breadcrumb-item {
  list-style: none;
}

.breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #161616;
}

.content {
  grid-area: 'content';
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.fg-0 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.fg-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fg-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.fg-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.fg-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.flex-break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0px;
}

.panel {
  padding: 10px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.panel .panel-header {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgba(88, 89, 97, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.panel .panel-header h2 {
  font-size: 1.2rem;
}

.panel .panel-body {
  width: 100%;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.permissions div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  place-items: center;
  padding: 3px;
  width: 100%;
  border-bottom: 1px solid rgba(88, 89, 97, 0.1);
}

.permissions div:nth-child(odd) {
  background: #e3ebef;
}

.permissions div label {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-auto-row: 100px;
  gap: 5px;
}

.gallery .gallery-add {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.gallery .gallery-item {
  display: block;
}

.gallery .gallery-item a {
  text-decoration: none;
  border: none;
}

.gallery .gallery-item a img {
  width: 145px;
  height: 145px;
}

.gallery .gallery-item-opts {
  position: relative;
  bottom: 41px;
  right: 0px;
}

.gallery .gallery-item-opts a {
  font-size: 1rem;
  width: 35px;
  height: 35px;
  border: none;
  margin: 3px;
}

.gallery .gallery-item-opts a:hover {
  font-size: 1rem;
}

.gallery div a {
  color: #161616;
  text-decoration: none;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 145px;
  height: 145px;
  border: 1px dashed #161616;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.gallery div a i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.gallery div a:hover {
  font-size: 2.5rem;
  background-color: #00a0ff;
  color: white;
  border-color: #1c326e;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-of-type(even) {
  background: #e3ebef;
}

table th {
  background: #006099;
  color: white;
  font-weight: bold;
}

table td, table th {
  padding: 6px;
  border-bottom: 1px solid rgba(88, 89, 97, 0.1);
  text-align: left;
}

table td a, table th a {
  display: inline-block;
  color: #161616;
  padding: 3px 6px;
  text-decoration: none;
}

.user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
  place-items: center;
}

.user-details img {
  width: 125px;
  margin: 1rem 0;
}

.user-details p {
  width: 100%;
}

.user-details .label {
  display: block;
  margin-top: 0.3rem;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.glass {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 5px 15px 0 rgba(88, 89, 97, 0.37);
          box-shadow: 0 5px 15px 0 rgba(88, 89, 97, 0.37);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid white;
}

.btn {
  color: #161616;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 3px 6px;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgba(88, 89, 97, 0.1);
  border-radius: 3px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.btn a {
  text-decoration: none;
}

.btn-success {
  background-color: #62c562;
}

.btn-success:hover {
  background-color: #42b242;
}

.btn-warning {
  background-color: #e6bd71;
}

.btn-warning:hover {
  background-color: #dea946;
}

.btn-danger {
  background-color: #e46d6d;
}

.btn-danger:hover {
  background-color: #dc4242;
}

.btn-default {
  background-color: #dfdbdb;
}

.btn-default:hover {
  background-color: #c7c0c0;
}

.btn-block {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.btn-block i {
  padding-right: 5px;
}

.form {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.form label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
}

.form input[type="text"],
.form input[type="number"],
.form input[type="file"],
.form select,
.form textarea {
  width: 100%;
  margin-bottom: 12px;
  margin-top: 5px;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 3px;
  border: 1px solid rgba(88, 89, 97, 0.4);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus,
.form input[type="file"]:focus,
.form select:focus,
.form textarea:focus {
  outline: none;
  border: 1px solid #006099;
}

.form input[type="checkbox"] {
  padding: 3px;
}

.form input[type="submit"] {
  color: #161616;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
  text-decoration: none;
  border: 1px solid rgba(88, 89, 97, 0.1);
  border-radius: 3px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.ck-editor__editable {
  margin-bottom: 1rem;
  min-height: 150px;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-33 {
  width: 33% !important;
}

.minh-25 {
  min-height: 25% !important;
}

.minh-50 {
  min-height: 50% !important;
}

.minh-75 {
  min-height: 75% !important;
}

.minh-100 {
  min-height: 100% !important;
}

.minh-33 {
  min-height: 33% !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.m-1 {
  margin: 1rem;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.align-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  td {
    /* Behave  like a "row" */
    border: none !important;
    border-bottom: 1px solid rgba(51, 51, 51, 0.4) !important;
    position: relative;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    right: 6px;
    width: 35%;
    font-weight: bold;
    white-space: nowrap;
  }
  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Id";
  }
  td:nth-of-type(2):before {
    content: "First name";
  }
  td:nth-of-type(3):before {
    content: "Last name";
  }
  td:nth-of-type(4):before {
    content: "Email";
  }
  td:nth-of-type(5):before {
    content: "Role";
  }
  td:nth-of-type(5):before {
    content: "Actions";
  }
}
/*# sourceMappingURL=admin.css.map */