// Variables
$font-family: 'Roboto', sands-serif;
$font-size: 16px;
$bgColorContent: #eee;
$bgColorSidebar: white;
$bgColorNav: white;

$primary: #00a0ff;
$secundary: darken(#00a0ff, 20%);
$primaryLight: lighten($primary, 50%);
$black: #161616;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-size: $font-size;
    font-family: $font-family;
    color: $black;

    min-width: 100vw;
    min-height: 100vh;

    overflow-x: hidden;

    display: grid;
    grid-template-areas:
        "nav nav"
        "sidebar container"
    ;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto;
}

.ck-body-wrapper{
    display: none !important;
}

nav.navbar{
    background-color: $bgColorNav;

    grid-area: "nav";
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    z-index: 11;

    padding: 15px;

    box-shadow: 1px 1px 10px 0px rgba(88, 89, 97, 0.4);

    a{
        color: #000;
        text-decoration: none;
    }

    .profile{
        padding-left: 10px;
        .avatar{
            vertical-align: middle;
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }

        span{
            padding-left: 5px;
        }
    }
}

.dropdown{
    &:hover > ul {
        display: inherit;
        z-index: 1;
    }
    ul{
        display: none;
        position: absolute;
        top: 40px;
        padding: 0;
        margin: 0;
        list-style: none;

        li{
            width:100%;
            display:inline-block;
            background-color: white;
            border-bottom: 1px solid lighten($color: grey, $amount: 30%);
            &:nth-child(even){
                background-color: lighten($color: grey, $amount: 40%);
            }
        }

    }

    a {
        display:block;
        padding:0 10px;
        color: $secundary;
        font-size: 0.8rem;
        line-height: 2rem;
        text-decoration: none;
    }
}

.pagination{
    nav{
        display: flex !important;
        flex-flow: row nowrap;
        width: 100%;
        height: 50px;
        font-size: 1rem;
    }

    div:nth-child(1){
        flex-grow: 1;
        span{
            display: inline-flex;
            width: 50%;
        }
    }

    div:nth-child(2){
        display: none;
    }

    svg{
        display: none;
    }
}

.sidebar{
    background-color: $bgColorSidebar;

    position: sticky;

    grid-area: 'sidebar';
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    flex-direction: column;

    z-index: 111;

    box-shadow: 1px 10px 10px 0px rgba(88, 89, 97, 0.37);

    .main{
        margin-top: 15px;

        ul{
            list-style: none;

            li{
                padding: 5px 15px;
                transition: 0.2s ease-in-out;

                &:hover{
                    background-color: lighten($color: $secundary, $amount: 40%);
                }

                a{
                    text-decoration: none;
                    color: rgb(19, 19, 19);

                    span{
                        padding-left: 10px;
                    }

                    i{
                        color: $secundary;
                    }
                }

            }

            .active{
                background-color: lighten($color: $secundary, $amount: 60%);
            }
        }

    }
}

.container{
    background-color: $bgColorContent;

    grid-area: 'container';

    display: grid;
    grid-template-areas:
        "breadcrumb breadcrumb"
        "content content"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto;
    gap: 5px;

    padding: 25px 50px;

    z-index: 1;
}

.breadcrumb {
    grid-area: 'breadcrumb';
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    display: inline-flex;

    max-width: 100%;
    max-height: 30px;

    margin-top: 10px auto;
    padding: 5px 15px;

    font-size: .8rem;

    .breadcrumb-item{
        list-style: none;
        a{
            text-decoration: none;
            color: #161616;
        }
    }
}

.content{
    grid-area: 'content';
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
}

.fg-0{
    flex-grow: 0;
}
.fg-1{
    flex-grow: 1;
}
.fg-2{
    flex-grow: 2;
}
.fg-3{
    flex-grow: 3;
}
.fg-4{
    flex-grow: 4;
}

.panel{
    padding: 10px;
    height: fit-content;

    .panel-header{
        padding-bottom: 5px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(88, 89, 97, 0.10);

        display: inline-flex;
        justify-content: space-between;
        width: 100%;

        h2{
            font-size: 1.2rem;
        }
    }

    .panel-body{
        font-size: 0.9rem;
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
    }
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-row: 100px;
    gap: 5px;

    .gallery-add{
        order: 0;
    }
    .gallery-item{
        display: block;
        a{
            text-decoration: none;
            border: none;

           img{
                width: 145px;
                height: 145px;
            }
        }
    }
    .gallery-item-opts{
        position: relative;
        bottom: 41px;
        right: 0px;
        a{
            font-size: 1rem;
            width: 35px;
            height: 35px;
            border: none;
            margin: 3px;

            &:hover{
                font-size: 1rem;
            }
        }

    }

    div{
        a{
            color: #161616;
            text-decoration: none;
            font-size: 2rem;

            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;

            width: 145px;
            height: 145px;
            border: 1px dashed #161616;

            transition: 0.3s ease;

            i{
                align-self: center;
            }

            &:hover{
                font-size: 2.5rem;
                background-color: $primary;
                color: white;
                border-color: #1c326e;
            }
        }

    }
}

table{
    width: 100%;
    border-collapse: collapse;

    tr:nth-of-type(even) {
        background: #e3ebef;
    }

    th {
        background: $secundary;
        color: white;
        font-weight: bold;
    }

    td, th {
        padding: 6px;
        border-bottom: 1px solid rgba(88, 89, 97, 0.10);
        text-align: left;

        a{
            display: inline-block;

            color: $black;
            padding: 3px 6px;
            text-decoration: none;
        }

    }
}

.user-details{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    place-items: center;

    img{
        width: 125px;
        margin: 1rem 0;
    }

    p{
        width: 100%;
    }

    .label{
        display: block;
        margin-top: 0.3rem;
        width: 100%;

        font-size: 1rem;
        font-weight: bold;
    }

    .text{

    }
}

.glass{
    background-color: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 5px 15px 0 rgba(88, 89, 97, 0.37);
    backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid lighten($color: rgba( 255, 255, 255, 1 ), $amount: 50%);
}

.btn{
    color: $black;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 3px 6px;
    text-decoration: none;

    border: 1px solid rgba(88, 89, 97, 0.10);
    border-radius: 3px;
    transition: 0.1s ease-in-out;

    a{
        text-decoration: none;
    }

}

.btn-success{
    background-color: rgb(98, 197, 98);

    &:hover{
        background-color: darken($color: rgb(98, 197, 98), $amount: 10%);
    }
}

.btn-warning{
    background-color: rgb(230, 189, 113);

    &:hover{
        background-color: darken($color: rgb(230, 189, 113), $amount: 10%);
    }
}

.btn-danger{
    background-color: rgb(228, 109, 109);

    &:hover{
        background-color: darken($color:rgb(228, 109, 109), $amount: 10%);
    }
}

.btn-default{
    background-color: #dfdbdb;

    &:hover{
        background-color: darken($color:#dfdbdb, $amount: 10%);
    }
}

.btn-block{
    width: 100%;
    text-align: center;
    padding: 5px;
    i{
        padding-right: 5px;
    }
}

.form{
    display: flex;
    flex-direction: column;

    label{
        width: 100%;
        margin-top: 10px !important;
        font-size: 1rem;
        font-weight: 500;
    }

    input{
        width: 100%;
        margin-bottom: 12px;
        margin-top: 5px;
    }

    input[type="text"],
    input[type="number"],
    input[type="file"],
    select,
    textarea{

        padding: 5px;

        font-size: 0.8rem;
        border-radius: 3px;
        border: 1px solid rgba(88, 89, 97, 0.40);

        transition: 0.1s ease-in;

        &:focus{
            outline: none;
            border: 1px solid $secundary;
        }
    }

    input[type="submit"]{
        color: $black;
        font-size: 0.8rem;
        font-weight: bold;
        padding: 5px;
        text-decoration: none;

        border: 1px solid rgba(88, 89, 97, 0.10);
        border-radius: 3px;
        transition: 0.1s ease-in-out;
    }
}

.ck-editor__editable{
    margin-bottom: 1rem;
    min-height: 150px;
}

.w-25{
    width: 25% !important;
}
.w-50{
    width: 50% !important;
}
.w-75{
    width: 75% !important;
}
.w-100{
    width: 100% !important;
}
.w-33{
    width: 33% !important;
}

.mb-1{
    margin-bottom: 1rem !important;
}

.mt-1{
    margin-top: 1rem !important;
}

.m-1{
    margin: 1rem;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	td {
		/* Behave  like a "row" */
		border: none !important;
		border-bottom: 1px solid rgba(51, 51, 51, 0.40) !important;
		position: relative;
        // padding-left: -50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		right: 6px;
		width: 35%;
        font-weight: bold;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Id";}
	td:nth-of-type(2):before { content: "First name"; }
	td:nth-of-type(3):before { content: "Last name"; }
	td:nth-of-type(4):before { content: "Email"; }
	td:nth-of-type(5):before { content: "Role"; }
	td:nth-of-type(5):before { content: "Actions"; }
}
