body{
    display: flex;
    background-color: #f6f6f6;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 16px;
}

.box{
    margin: 0px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    position: absolute;
    padding: 16px;
    width: 500px;

    .btn-success{
        width: 100%;
        border: 0px;
    }

    .form-control{
        &:focus,
        &:active{
            outline: none;
            box-shadow: none;
        }
    }
}

.box-login{
    left: calc(50% - 250px);
    top: calc(50% - 200px);
}

.box-register{
    left: calc(50% - 250px);
    top: calc(50% - 305px);
}

.box-login,
.box-register{

    .header{
        a{
            text-decoration: none;
            color: #000;

            img{
                position: relative;
                left: calc(50% - 75px);
                top: calc(50% - 75px);
                width: 150px;
            }

            p{
                margin-top: -40px;
                text-align: center;
            }
        }
    }

    .footer{
        text-align: center;

        a{
            display: inline-block;
            text-decoration: none;
            font-size: 0.8rem;
            &:last-child{
                margin-left: 2rem;
            }
        }
    }
}

.input-group-text{
    height: 100%;
}


